<!-- ~ Copyright (c) 2018-2019 Blacknet Team ~ ~ Licensed under the Jelurida Public License version 1.1 ~ for the Blacknet Public Blockchain Platform (the "License"); ~ you may not use this file except in compliance with the License. ~ See the LICENSE.txt file at the top-level directory of this distribution. -->

<!DOCTYPE html>
<html lang="en" ng-app="blacknet">
  <head>
    <meta charset="utf-8">
    <title>Blacknet Stakepool</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/bignumber.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/i18n.js"></script>
    <script type="text/javascript" src="/js/numeral.js"></script>

    <script type="text/javascript" src="/js/resources.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
        <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    <meta name="description" property="og:description" content="Blacknet Stakepool">
  </head>
  <body ng-cloak ng-controller="bodyController">
    <div class="dialog account">
      <div class="header"></div>
      <div class="body" style="margin-top: 300px;">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
      </div>
    </div>

    <header id="chead">
      <div class="head_wrap">
        <div class="logo">
          <a href="/"><span data-i18n="Blacknet Stakepool">Blacknet Stakepool</span></a>
        </div>
        <div class="touch-menu">
          <button ng-click="toggleNav()">{% include 'media/menusvg.njk'%}</button>
        </div>
        <div class="nav">
          <a href="/recent_blocks" class="{% if recent %}active{% endif %}"><span data-i18n="Blocks">Blocks</span></a>
          <a href="/workers" class="{% if workers %}active{% endif %}"><span data-i18n="workers">Workers</span></a>
          <a href="/recent_payouts" class="{% if payouts %}active{% endif %}"><span data-i18n="recent payouts">Recent Payouts</span></a>
          <a href="https://www.blnscan.io"><span>Blnscan</span></a>
        </div>
      </div>
    </header>
    <div class="content" id="content">
      <div class="wrap">

        {% block content %}{% endblock %}
      </div>
    </div>
    {% block carousel %}{% endblock %}

    {% block video %}{% endblock %}

    {% block statistic %}{% endblock %}
    <footer>
      <a href="https://gitlab.com/blacknet-ninja/blacknet-stakepool"> <span data-i18n="Report Bug">Report Bug</span></a>
    </footer>
    
  </body>

</html>