{% extends "base.njk" %}

{% block content %}
    <h3 data-i18n="Payouts">Payouts</h3>
    <table id="block-table"  ng-controller="payoutsController">

        <thead>
            <tr>
                <td class="narrow" data-i18n="Account">Account</td>
                <td class="mobile-hide right" data-i18n="Shares">Shares</td>
                <td class="right" data-i18n="Reward">Reward</td>
                <td class="narrow" data-i18n="Payment ID">Payment ID</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-repeat="payout in payouts">
                <td class="address"><a href="/account/${payout.account}">${payout.account}</a></td>
                <td class="mobile-hide right"><span class="strong">${payout.shares | format_number} BLN</strong></td>
                <td class="right strong">${payout.amount | currency} BLN</td>
                <td ng-if="payout.isPayout"><a target="_blank" href="https://blnscan.io/${payout.txid}">View at explorer</a></td>
                <td class="narrow" ng-if="!payout.isPayout"></td>
            </tr>
            <tr class="mobile-hide">
                <td class="mobile-hide"></td>
                <td class="right" colspan="1">
                    <span class="strong ">${allShares | currency} BLN</strong>
                </td>
                <td class="right"><span class="strong">${reward | currency} BLN</strong></td>
                <td></td>
            </tr>
        </tbody>
    </table>

{# 
        <div class="tx">
            <div class="tx_header">
                {% if tx.txid %}
                <a href="/tx/{{tx.txid}}">{{tx.txid.toLowerCase()}}</a>
                {% endif %}
                <div class="right_info">

                    <span class="strong">{{tx.data.amount}} BLN</span>
                    {# <span>{{tx.timestr}}</span> 
                </div>
            </div>
            <div class="tx_body">
                <div class="from">
                    <a href="/account/{{tx.from}}">{{tx.from}}</a>
                </div>
                <div class="type">
                    <span class="tx_time">{{tx.timestr}}</span>
                    <span class="tx_type">{{tx.typeStr}}</span></div>
                <div class="to">
                    <a href="/account/{{tx.data.to}}">{{tx.data.to}}</a>
                </div>
            </div>
        </div> #}
{% endblock %}