{% extends "base.njk" %}

{% block content %}
    <h3 data-i18n="Workers">Workers</h3>
    <table id="block-table"  ng-controller="workers">
        <thead>
            <tr>
                <td class="narrow" data-i18n="Account">Account</td>
                <td class="right" data-i18n="Weight">Weight</td>
                <td class="right" data-i18n="Payouts">Payouts</td>
                <td class="mobile-hide right" data-i18n="Total Reward">Total Reward</td>
                <td class="right" data-i18n="Paid">Paid</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-repeat="worker in workers" ng-if="worker.hashrate">
                <td class="address"><a href="/account/${worker.address}">${worker.address}</a></td>
                <td class="mobile-hide right"><span class="strong">${worker.hashrate |format_number} BLN</span></td>
                <td class="right"><span class="strong">${worker.payouts}</span></td>
                <td class="mobile-hide right"><span class="strong">${worker.total_reward} BLN</span></td>
                <td class="right"><span class="strong">${worker.paid} BLN</span></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
